<b *ngIf="loading$ | async">Loading . . .</b>
<div class="table-responsive">
  <table *ngIf="!(loading$ | async)" class="table table-hover">
    <thead class="table-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col" class="text-center">Up Votes</th>
      <th scope="col" class="text-center">Down Votes</th>
    </tr>
    </thead>
    <ng-container *ngIf="todayTips.length">
      <div class="date-group-title">TODAY</div>
      <tbody>
      <tr role="button" *ngFor="let tip of todayTips"
          [style.background-color]="getTypeColour(tip.type)"
          (click)="selectTip(tip)">
        <td>{{tip.title}}</td>
        <td class="align-middle text-center">{{tip.upVotes}}</td>
        <td class="align-middle text-center">{{tip.downVotes}}</td>
<!--        <td class="align-middle text-center">{{tip.datetime | date}}</td>-->
      </tr>
      </tbody>
    </ng-container>
    <ng-container *ngIf="thisWeekTips.length">
      <div class="date-group-title">THIS WEEK</div>
      <tbody>
      <tr role="button" *ngFor="let tip of thisWeekTips"
          [style.background-color]="getTypeColour(tip.type)"
          (click)="selectTip(tip)">
        <td>{{tip.title}}</td>
        <td class="align-middle text-center">{{tip.upVotes}}</td>
        <td class="align-middle text-center">{{tip.downVotes}}</td>
<!--        <td class="align-middle text-center">{{tip.datetime | date}}</td>-->
      </tr>
      </tbody>
    </ng-container>
    <ng-container *ngIf="earlierTips.length">
      <div class="date-group-title">EARLIER</div>
      <tbody>
      <tr role="button" *ngFor="let tip of earlierTips"
          [style.background-color]="getTypeColour(tip.type)"
          (click)="selectTip(tip)">
        <td>{{tip.title}}</td>
        <td class="align-middle text-center">{{tip.upVotes}}</td>
        <td class="align-middle text-center">{{tip.downVotes}}</td>
<!--        <td class="align-middle text-center">{{tip.datetime | date}}</td>-->
      </tr>
      </tbody>
    </ng-container>
  </table>
</div>
